-siteTitle = 'JDgrid'
-pageTitle = 'JDgrid'
-currentPage = 'inicio'
-pages = ['inicio', 'docs', 'contacto']
-components = ['component', 'component', 'component', 'component', 'component', 'component', 'component', 'component', 'component', 'component', 'component', 'component', 'component', 'component']
-currentComponent = ''

-headerTitle = 'JDgrid'
-headerDescription = 'Framework CSS enfocado al diseño de páginas web adaptables a dispositovos móviles'
