block config
    include ../config/config

doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title #{pageTitle}
        link(href="https://file.myfontastic.com/7kdrbfgEyA3j9xpv4NMpqV/icons.css" rel="stylesheet")
    body

        //- Menú principal
        block menu
            include ../blocks/menu

        //- Cabecera
        block header
            include ../blocks/header

        //- Contenido principal
        main.main
            block mainContent

        //- Pie de página
        block footer
            include ../blocks/footer

        //- Scripts
        block scripts
            script(type="text/javascript" src="./js/main.js")